{% extends 'layout.html.twig' %} {% block stylesheet %}<link rel="stylesheet" href="/assets/css/mentions_legales.css"/>
{% endblock %} {% block title %}{{ parent() }} - Cuisine à domicile{% endblock
%} {% block content %}
<div class="please">
<main>
    <div class="content">
        <a href="#" id="back-to-top" title="Retour en haut de la page">
            <i class="fas fa-chevron-circle-up"></i>
        </a>
        <h1>Mentions légales</h1>

        <h2>Conditions générales d’utilisation du site Strascook</h2>
        <p>
            Ce site web est édité par la société 3DevForge, société anonyme au
            capital de 246 248 € euros, dont le siège social est sis 3DevForge, 67000 Strasbourg, ayant pour numéro SIRET :
            123 456 789 00001. Responsable de la Publication : John Doe.
        </p>

        <h2>Objet du site internet</h2>
        <p>
            Les présentes conditions générales d’utilisation ont pour objet de
            définir les modalités de mise à disposition du site
            www.chefguedon.com et les conditions d’utilisation par
            l’utilisateur.
        </p>

        <h2>Acceptation des conditions générales d’utilisation</h2>
        <p>
            L’accès au site www.chefguedon.com par l’utilisateur est subordonné
            à l’acceptation sans réserve des conditions générales d’utilisation.
        </p>
        La société 3DevForge se réserve le droit de modifier et de mettre à
        jour les conditions générales d’utilisation à tout moment. Celles-ci
        entreront en vigueur à compter de leur date de mise en ligne sur le site
        de 3DevForge. Les nouvelles conditions générales d’utilisation
        s’imposent à l’utilisateur.

        <h2>Responsabilité</h2>
        <p>
            La société 3DevForge ne pourra être tenue pour responsable pour
            quel que dommage que ce soit tant direct qu’indirect, résultant
            d’une information contenue sur ce site. L’utilisateur s’engage à ne
            transmettre sur ce site aucune information pouvant entraîner une
            responsabilité civile ou pénale et s’engage à ce titre à ne pas
            divulguer via ce site des informations illégales, contraires à
            l’ordre public ou diffamatoires. L’utilisation du présent site
            implique la connaissance et l’acceptation par l’utilisateur des
            caractéristiques et des limites d’Internet et des technologies qui y
            sont liées, l’absence de protection de certaines données contre des
            détournements éventuels ou piratage et risques de contamination par
            des éventuels virus circulants sur le réseau. La société 3DevForge
            décline toute responsabilité en cas de mauvaise utilisation ou
            d’incident lié à l’utilisation de l’ordinateur, de l’accès à
            Internet, de la maintenance ou du dysfonctionnement des serveurs, de
            la ligne téléphonique ou de toute autre connexion technique, et de
            l’envoi des formulaires à une adresse erronée ou incomplète,
            d’erreurs informatiques quelconques ou défauts constatés sur le
            site.
        </p>

        <h2>Marques et logos Propriété intellectuelle</h2>
        <p>
            Tous les éléments (textes, images…) contenus sur le site
            www.chefguedon.com sont la propriété exclusive de la société
            3DevForge. Toute copie ou utilisation du contenu est soumis à
            autorisation. Les marques et logos faisant mention du nom «
            3DevForge » et figurant sur ce site sont des marques déposées par
            la société 3DevForge. Leur mention n’accorde en aucune manière une
            licence ou un droit d’utilisation quelconque desdites marques, qui
            ne peuvent donc être utilisées sans le consentement préalable et
            écrit du propriétaire de la marque, sous peine de contrefaçon.
        </p>

        <h2>Informatique et Liberté Protection des données personnelles</h2>

        <p>
            Vos données personnelles, à savoir votre nom, votre adresse postale,
            votre n° de téléphone, votre adresse e-mail, votre n° de carte de
            paiement dans l’éventualité où il nous est transmis ainsi que toute
            donnée communiquée sur notre site web ou générée par votre
            navigation constituent des données confidentielles. Elles ne sont
            accessibles qu’à la société 3DevForge et ne sont utilisées que dans
            le cadre des finalités pour lesquelles vous nous les avez
            communiquées, à savoir pour traiter vos réservations ou pour vous
            transmettre notre newsletter, ou encore répondre à vos demandes ou
            communiquer des offres commerciales et ce, à travers le remplissage
            de questionnaires. Si vous choisissez de ne pas nous les communiquer nous
            ne pourrons pas traiter votre demande. Conformément à la loi
            Informatique et Libertés N° 78-017 du 6 janvier 1978, vous disposez
            d’un droit d’accès, de rectification et d’opposition à toute
            communication des informations personnelles vous concernant en vous
            adressant à 3DevForge Strasbourg – Pl. de la Cathédrale –
            67000 Strasbourg, Direction Marketing, ou par email à
            marketing@chefguedon.com.
        </p>
        <h2>Liens hypertextes</h2>

        <p>
            Les sites extérieurs à la société 3DevForge ayant un lien
            hypertexte avec le présent site ne sont pas sous contrôle de la
            société 3DevForge, qui décline par conséquent toute responsabilité
            quant à leur contenu. Le site www.chefguedon.com propose des liens
            hypertextes vers des sites internet édités ou gérés par des tiers.
            Aucun contrôle n’étant exercé par la société 3DevForge sur ces
            ressources externes, l’utilisateur est seul responsable de leur
            utilisation. La société 3DevForge ne pourra en aucun cas être tenue
            responsable quant à leur contenu. La création de liens hypertextes
            vers le site www.chefguedon.com est soumise à l’accord préalable de
            la société 3DevForge. Pour toute demande, vous pouvez nous envoyer
            un message à communication@chefguedon.com.
        </p>
        <h2>Cookies</h2>
        <p>
            Les données de trafic et les fichiers de cookies que nous implantons
            sur votre ordinateur ont une triple finalité : de sécuriser les
            transactions que vous pouvez être amené à réaliser, mémoriser
            temporairement les articles que vous souhaitez commander jusqu’à la
            transaction et de nous permettre, en interne, de procéder à des
            analyses de fréquentation de nos pages d’information afin d’en
            améliorer le contenu ; la durée de conservation de ces informations
            n’excède pas 1 an. Les données relatives à la navigation des
            visiteurs ne sont pas exploitées nominativement ; il s’agit de
            statistiques agrégées permettant de connaître les pages les plus et
            les moins populaires, les chemins préférés, les niveaux d’activité
            par jour de la semaine et par heure de la journée, les principales
            erreurs clients ou serveur. Nous vous rappelons que vous disposez
            dans votre logiciel de navigation de la possibilité de bloquer
            l’implantation de cookies sur votre ordinateur.
        </p>
        <p>
            Pour la gestion des Cookies et de vos choix, la configuration de
            chaque navigateur est différente. Elle est décrite dans le menu
            d’aide de votre navigateur, qui vous permettra de savoir de quelle
            manière modifier vos souhaits en matière de Cookies.
        </p>

        <h2>Sécurité des transactions</h2>
        <p>
            Toute transmission d’information liée au paiement et en particulier
            la transmission d’un numéro de carte bancaire et de sa date de
            validité s’opèrent dans un contexte sécurisé utilisant les
            protocoles en vigueur sur Internet.</p>
            
        <h2>Litiges</h2> 
        <p>Les présentes conditions
            et la relation entre la société 3DevForge et les utilisateurs
            seront soumises au droit français et tout différend n’ayant pu
            trouver une issue transactionnelle sera porté devant les tribunaux
            compétents de Strasbourg.
        </p>        
        <h2>Conception du site</h2>
        <p>Création graphique et conception : Agence Anonymes</p>

        <h2>Développement : Agence 3DevForge</h2>
        <p>42 Pl. de la Cathédrale, 67000 Strasbourg</p>

        <h2>Hébergement</h2>
        <p>
            Le site www.chefguedon.com est hébergé par la société OVH,
            inscrite au registre du commerce et des sociétés de Roubaix sous le
            numéro RCS B 424 761 419 et représentée par M. John Doe.
            Adresse du siège : OVH 2 RUE KELLERMANN 59100 ROUBAIX
        </p>
        <h2>Crédit photos</h2>
        <p>© copyright photothèque 3DevForge, sauf indications contraires.</p>
    </div>
</main>
</div>
{% endblock %}
