<link rel="stylesheet" href="/assets/css/header-admin.css" />

<header>
    <li><a href="/">| SITE |</a></li>
    <li>
        <a href="/produit/add">| AJOUTER UN PRODUIT |</a>
    </li>
    <li>
        <a href="/produit/show">| PRODUITS A VENIR |</a>
    </li>
    <li>
        <a href="/produit/show-by-week">| MENU PAR SEMAINE |</a>
    </li>
    <li>
        <a href="/client/show">| FICHIER CLIENT |</a>
    </li>
    <li>
        <a href="/client/add">| AJOUTER UN CLIENT |</a>
    </li>
    <li>
        <a href="/devis">| VOIR COMMANDES |</a>
    </li>
    <li>
        <a href="/logout">| LOG OUT |</a>
    </li>
</header>
