<link rel="stylesheet" href="/assets/css/header.css" />

<header>
    <div class="divHeader"><a href="/">HOME</a></div>
    <div class="divHeader"><a href="/menu">MENU ET COMMANDE</a></div>
</header>
