@import url("root.css");

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 30px 10px 30px;
    font-family: var(--font-sans);
    font-weight: var(--font-weight-thin);
    font-size: 18px;
    color: var(--color-white-basic);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    background-color: var(--color-black-low);
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: var(--color-white-basic);
    margin-top: auto;
}

@media all and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}